.button{
    text-decoration: none;
    border: solid;
    border-radius: 50px;
}
.address{
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
    border-radius: 25px;
    text-align: center;
}
.save{
    border-radius: 25px;
    border-style: outset;
    background-color: aquamarine;
}

#order{
    background-color: brown;
    border: dotted;
    border-radius: 5px;
    text-decoration: dashed;    
}
#order input{
    display: flexbox;
    text-align: left;
    border-radius: 10px;
}
#order label{
    color: blueviolet;

}