body{
    font-family: 'freehand';
}
header{
    font-size: medium;
}
.nav ul{
    list-style-type: none;
    padding: 0px;
    margin:0px;
    background-color: blue;
    overflow: hidden;
}
.nav a{
    text-decoration: none;
    color:orangered;
    padding: 15px;
    display:block;
    text-align: center;
}
.nav a:hover{
    background-color: yellow;
}
.nav li{
    float: left;
}
/* The sidenav */
